*{
    padding: 0;
    margin: 0;
}

.content{
    height: 75vh;
}
.container-fluid1{
    padding: 0;
}
.container-fluid2{
    height: 30vh;
    background-color: black;
}

.Container-Tech{
    height: 80vh;
}
.Footer{
    height: 10vh;
}

.RecuadroLenguajes{
    height: 30vh;
    margin-top: 10vh;
}

.Container-Cards{
    position: relative;
    top: -300px;
}

.containerDescripcion{
    height: 40vh;
}